# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch

|Data Science tools|
| ------------- |
|TenserFlow     | 
|ApacheSpark    | 
|Hadoop         |

### Below are a few examples of evaluating arithmetic expressions in Python.

$$\sin^2 + \cos^2 = 1$$

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [6]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* Arithmatic expressions 
* Markdown Cells 
* Writing in Bold  
* Tables
* Codes and doing math

## Author
Younes Sherkat